.blog{
    margin-bottom: 100px;

}


.blog img {
    width: 845px;
    height: 450px;
    border-radius: 8px;
}
.name{
    text-align: left;
    margin-left: 10px;
}
.read-time{
    display: flex;
    justify-content: space-between;
}
.time a{
    text-decoration: none;
    margin-right: 50px;
}
.btn-marked{
    /* border: none; */
    align-items: start;

}
.bookmark-section{
    display: flex;
    /* height: 20px; */
}
.button-bookmark{
    margin-top: 20px;
    height: 20px;
}